body {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  padding: 0px;
  margin: 0px;
  color: #333;
  display: flex;

  justify-content: center;
  background: url("https://static.wixstatic.com/media/bfb402ab0f4248c7a9af74f382104f88.jpg/v1/fill/w_1425,h_763,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bfb402ab0f4248c7a9af74f382104f88.jpg");
  background-size: cover;
  background-repeat: repeat;
}

.page-container {
  width: 75vw;
  background-color: white;
  display: flex;
  justify-content: center;
}

.page-container-index {
  width: 75vw;

  display: flex;
  justify-content: center;
}

.item-container {
  width: 90%;
  color: #333;
  margin-top: 1rem;
}

.item-image {
  border-radius: 10px;
  width: 47vw;
}

.item-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 47vw;
  margin-top: 1rem;
}

.item-container-text-sidebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.item-text-container {
  max-width: 50vw;
}

.item-text-intro-container {
  max-width: 50vw;
}

.item-text-intro {
  max-width: 50vw;
  margin-top: 1rem;
}

.item-text-para-container {
  max-width: 46vw;
  padding: 2rem;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item-text-para {
  margin-top: 1rem;
}

.item-sidebar {
  max-width: 20vw;
  margin-left: 1.5rem;
}

.item-sidebar-heading {
  color: #91a68d;
}

.feature-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.feature-item-primary {
  width: 42vw;
  height: 50vh;
  margin-right: 2rem;
}

.feature-first {
  min-width: 302px;

  min-height: 50vh;
  border-radius: 10px;
  background-size: cover;
  transition: ease-in-out 0.2s;
}

.feature-item-primary:hover {
  scale: 1.05;
}

.feature-item-secondary {
  min-width: 302px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-sec {
  height: 24vh;
  width: 100%;
  background-size: cover;
  transition: ease-in-out 0.1s;
  border-radius: 10px;
}

.feature-sec:hover {
  scale: 1.1;
}

.theme-container {
  width: 75vw;
  margin-bottom: 3rem;
}

.theme-list {
  margin-top: 2rem;
}

.theme-list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-image {
  width: 300px;
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}

.list-image:hover {
  scale: 1.1;
}
