body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.grid-container-new {
  background: url("https://static.wixstatic.com/media/bfb402ab0f4248c7a9af74f382104f88.jpg/v1/fill/w_1425,h_763,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bfb402ab0f4248c7a9af74f382104f88.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;

  justify-content: center;
  width: 100%;
}

.grid-container {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  padding: 0px;
  margin: 0px;
  color: #333;
  display: flex;

  justify-content: center;
  background: url("https://static.wixstatic.com/media/bfb402ab0f4248c7a9af74f382104f88.jpg/v1/fill/w_1425,h_763,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bfb402ab0f4248c7a9af74f382104f88.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.page-container {
  width: 75vw;
  background-color: white;
  display: flex;
  justify-content: center;
}

.page-container-index {
  width: 75vw;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.item-container {
  width: 90%;
  color: #333;

  margin-top: 4rem;
}

.item-image {
  border-radius: 10px;
  width: 40vw;
  margin-bottom: 3rem;
}

.item-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 47vw;
  margin-top: 1rem;
}

.item-text-container {
  max-width: 90%;
  justify-content: center;
}

.item-text-intro-container {
  margin-top: 2.5rem;
}

.item-text-intro {
  margin-top: 1rem;
}

.item-text-para-container {
  width: 90%;
  padding: 2rem;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item-text-para {
  margin-top: 1rem;
}

.italic {
  font-style: italic;
}

.link-decoration:hover {
  text-decoration: underline;
  color: #91a68d;
  cursor: pointer;
}

.feature-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  justify-content: center;
}

.feature-item {
  width: 60%;
  height: 50vh;
  margin-right: 2rem;
  transition: ease-in-out 0.1s;
}

.feature-image {
  width: 100%;
  height: 50vh;
  min-width: 300px;
  border-radius: 10px;
  background-size: cover;
  transition: ease-in-out 0.2s;
}

.feature-item:hover {
  scale: 1.05;
  cursor: pointer;
}

.feature-item-about {
  min-height: 50vh;
  max-height: fit-content;
  max-width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}

.feature-sec {
  height: 24vh;
  width: 100%;
  background-size: cover;
  transition: ease-in-out 0.1s;
  border-radius: 10px;
}

.feature-sec:hover {
  scale: 1.1;
}

.theme-container {
  width: 75vw;
  border-radius: 10px;
  background-color: #eee;
  padding: 1rem;
  margin-top: 3rem;
}

.theme-list {
  justify-content: center;
}

.theme-list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 75vw;
}

.list-item {
  width: 300px;
  height: 175px;
  background-color: #fef7de;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5rem;
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}

.list-journal-article {
  width: 300px;
  height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}

.list-item-backyard {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  transition: ease-in-out 0.1s;
}

.list-item-backyard:hover {
  scale: 1.05;
  cursor: pointer;
}

.list-item-backyard-image {
  display: flex;
  align-items: flex-end;
  min-width: 300px;
  height: 175px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0.5rem;
  text-decoration: none;
  box-shadow: 5px 0px 10px darkgrey;
  border-radius: 10px 10px 0 0;
  transition: ease-in-out 0.1s;
}

.list-item-backyard-text {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  width: 300px;
  padding-bottom: 1rem;
  box-shadow: 5px 5px 10px darkgrey;
}

.list-item:hover {
  scale: 1.1;
  text-decoration: none;
}

Link {
  text-decoration: none;
}

.list-image-new {
  min-width: 300px;
  height: 200px;
  margin: 0.5rem;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 0.1s;
}

.list-image-new:hover {
  scale: 1.05;
}

.list-image:hover {
  scale: 1.1;
}
