.navbar_container {
  display: flex;
  flex-direction: row;
  padding: 0.1rem;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  background-color: white;
  width: 100vw;
}

.button {
  background-color: #91a68d;
  color: #fef7de;
  width: 7rem;
}

.button:hover {
  background-color: #fef7de;
  color: #91a68d;
}

.panel_container {
  background-color: white;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
}

.panel_item {
  margin: 2rem;
}
